.color-example {
  color: blue;
  background-color:#166c59  ;
  border: 2px solid #000;
}
.header-example {
  font-size: 9px;
  font-family: 'Courier New';
  color:blue;
}
.list-example {
  list-style-type: square;
  color:blue;
  }
.text-ecxample {
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: underline;
  font-family: 'Courier New';
}
.div-example {
  background-color: #166c59;
  border: 2px solid;
}

